.cart{
    width:100vw;
    height:90vh;
    padding-bottom: 50px;
    margin-top: 50px;
}
.cart-container{
    height: 70%;
    width: 100%;
    margin-top: 50px;
    padding-top: 10px;
    overflow: scroll;
    position: relative;
}

.mapped-cart{
    height: 20%;
    width: 100%;
    display: grid;
    grid-template-columns: 20% 1fr 7% 5% 10% 15% 5%;
    grid-template-rows: 100%;
    font-size: 80%;
}

.bottom-cart-div{
    display: flex;
    justify-content: center;
    width:100%;
    height: 40px;
}

.footer > a{
    width: 10%;
}

img{
    width: 50px;
    height: auto;
}

.total{
    width: 100%;
    height: 10%;;
    font-size: 80%;
    display:flex;
    justify-content: flex-end;
    padding-right: 20px;
    
}

.x{
    width:70%;
    margin-top: 2px;
}

.up{
    width: 60%;
    margin-top: 1px;
}

.down{
    width:40%;
    margin-top: 1px;
}

.proceed-to-checkout{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:50%;
    height: 100%;
    border-radius: 5%;
    background:#E9EBF0
}
