.cart{
    width:100vw;
    height:90vh;
    padding-bottom: 50px;
    margin-top: 50px;
}
.cart-container{
    height: 70%;
    width: 100%;
    margin-top: 50px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    position: relative;
}

.mapped-cart{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 35px 0;
    font-family: 'Questrial', sans-serif;

}

.bottom-cart-div{
    display: flex;
    justify-content: center;
    width:100%;
    height: 40px;
}

.footer > a{
    width: 10%;
}

img{
    width: 50px;
    height: auto;
}

.ele{
    width: 10%;
    font-size: 79%
    
}

.total{
    width: 100%;
    height: 10%;;
    font-size: 80%;
    display:flex;
    justify-content: flex-end;
    padding-right: 20px;
    
}

.x{
    width:5%
}

.up{
    width: 4%;
    margin-left: 40px;
    margin-right: -10px;
}

.down{
    width:5%;
    margin-right: 20px;
    margin-left: -10px;
}

.proceed-to-checkout{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:50%;
    height: 100%;
    border-radius: 5%;
    background:#E9EBF0
}
