.admin-page{
    width:100%;
    height:80vh;
    display:grid;
    grid-column-gap: 10px;
    grid-row-gap: 20px;
    grid-template-columns: 10% 60% 1fr;
    grid-template-rows: 15% 50% 1fr;
}
.main-nav{
    grid-area: 1/2;
    background: navy;
}

.admin-side-nav{
    background: teal;
    grid-area: 2/1;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.side-nav-display{
    background: yellow;
    grid-area: 1/1;
    
}

.todo-body{
    background: orange;
    grid-area: 2/3;

    display:grid;
    grid-template-rows: 1fr 200px 1fr;

}

.admin-right-nav{
    grid-area: 1/3;
    /* background: pink; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 5px;
}

.profit{
    grid-area: 1/2;
    background: bisque;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.total-order{
    grid-area: 1/1;
    background: beige;
}

.admin-graph{
    background: lavender;
    grid-area: 2/2;
    display:flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    
}

.admin-order-history{
    position: relative;
    background: purple;
    grid-area: 3/2;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
}

.chart-data{
    height:70%;
    width:70%;
}

.todo-submit-field{
    grid-area: 3/1;
    display:flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center; 
}

.admin-order{
    width: 90%;
    height: 5%;
    margin-top: 20px;
    display:flex;
    justify-content: space-between;
}

.please-login{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 40% 1fr 40%;
    grid-template-rows: 40% 1fr 40%;
}

.please-login-content{
    grid-area: 2/2
}


@media(max-width: 415px){
    .admin-page{
        width: 100%;
        height: 300vh;
        display: grid;
        grid-template-rows: 5% 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
    }
    .main-nav{
        grid-area: 1/1
    }
    .admin-side-nav{
        grid-area:5/1;
    }
    .admin-graph{
        grid-area: 2/1
    }
    .todo-body{
        grid-area: 3/1
    }
    .admin-order-history{
        grid-area: 4/1
    }
    .admin-right-nav{
        grid-area: 6/1
    }
}

