
.wallet-body{
    width: 100vw;
    height: 75%;
    /* padding: 20px 0; */
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top:50px;
    font-family: 'Open Sans', sans-serif;
}

.showPublicKey{
    background: #4A6FA5;
    height: 0px;
    width: 95%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 90%;
    justify-content: center;
    position: fixed;
}

.showPublicKeyShow{
    height: 200px;
    margin: -350px 7px;
}

.showAddress{
    background: #4A6FA5;
    height: 0px;
    width: 95%;
    overflow:hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.showAddressShow{
    height: 200px;
    margin: -350px 7px;
}

.qr{
    width: 100px;
    height: 100px;
    margin: 20px 0;
}

.send-receive{
    height: 60px;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.crypto{
    height: 10%;
    width: 90%;
    background: #DBE9EE;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2px 0;
    border: 1px solid black;
}

.ele-symbol{
    width: 15%
}
