.wallet-body{
    width: 100vw;
    height: 60vh;
    position: relative;
    top: 50px;
    display:flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
}

.showPublicKey{
    background: #4A6FA5;
    height: 0px;
    width: 95%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 90%;
    justify-content: center;
    position: fixed;
}

.showPublicKeyShow{
    height: 200px;
    margin: -250px 7px;
}

.showAddress{
    background: #4A6FA5;
    height: 0px;
    width: 95%;
    overflow:hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.showAddressShow{
    height: 200px;
    margin: -250px 7px;
}

.qr{
    width: 100px;
    height: 100px;
    margin: 20px 0;
}

.send-receive{
    height: 60px;
    width: 100vw;
    position: relative;
    top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.send-receive > button{
    height: 80%;
    width: 25%;
    /* background: green; */
    border: 1px solid black;
}

.crypto{
    height: 10%;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2px 0;
}

.ele-symbol{
    width: 15%
}
