.home-body{
    width: 100%;
    height: 60%;
    display:flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 50px;
}

.home-body > div{
    width: 80%;
    height: 100%;
    margin: 15px 0;
    background: white;
    border: 1px solid black;
}

.buy-sell{
    height: 50px;
    width: 100vw;
    position: relative;
    top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.buy-sell > a{
    width: 30%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    /* background: rgb(212, 212, 109) */
}

